.grid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  margin: 10px;
}

figcaption {
  display: block;
  width: 100%;
  text-align: center;
}
